## map()

In [1]:
L = [1,2,3,4,5,6]

def squares(L):
    for i in L:
        print (i**2)

squares(L)

1
4
9
16
25
36

In [2]:
a = list(map(lambda x: x**2,L))
a

[1, 4, 9, 16, 25, 36]

In [4]:
M= [23,46,78,90,37,39]
s = list(map(lambda x: 'even' if x%2==0 else 'odd',M))
s

['odd', 'even', 'even', 'even', 'odd', 'odd']

In [8]:
users = [
    {
        'name':'Rahul',
        'age':45,
        'gender':'male'
    },
    {
        'name':'Nitish',
        'age':33,
        'gender':'male'
    },
    {
        'name':'Ankita',
        'age':50,
        'gender':'female'
    }
]


gender = list(map(lambda users:users['gender'],users))
gender

['male', 'male', 'female']

In [9]:
age = list(map(lambda users:users['age'],users))
age

[45, 33, 50]

## filter()

In [15]:
L = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
list(filter(lambda x: x>4 and x<12, L))

[5, 6, 7, 8, 9, 10, 11]

In [20]:
Veggies = ['Beans','Carrot','Brinjal','Broccoli','Beetroot','Potato','Capsicum','Onion']
list(filter(lambda x: x.startswith('B'),Veggies))

['Beans', 'Brinjal', 'Broccoli', 'Beetroot']

## reduce()

In [21]:
import functools

In [22]:
L=[1,2,3,4,5,6]
functools.reduce(lambda x,y: x+y,L)

21

In [25]:
L=[1,2,3,4,5,6,7,8,2345,4567]
#to find the max value

functools.reduce( lambda x,y: x if x>y else y,L)

4567

In [26]:
L = [1, 2, 3, 4, 5, 6]
min_val = L[0]  # Assume the first element is the minimum initially

for num in L:
    if num < min_val:
        min_val = num

print("Minimum value in the list:", min_val)

Minimum value in the list: 1